html, body, #root {
  font: 0.9rem sans-serif;
  background: #0a1f44;
  color: #1e2432;
  height: 100%;
  margin: 0;
}


.main-container {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418) );
  background-image: url('./img/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search {
  outline: none;
  padding: 20px 7%;
  border-radius: 30px;
  border: none;
  margin-bottom: 5%;
  background: rgba(250, 250, 250, 0.85);
}
.column {
  float: left;
  width: 50%;
}

.row{
  width:100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.location h2,h3,h4{
  color: #fff;
  margin-left: 10%;
}

.location h3,h4{
  color: rgba(250, 250, 250, 0.85);
  
}



.city {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 2%;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.25);
  box-shadow: 10px 10px 5px 0px rgba(30, 30, 30, 0.2);
  min-width:50%;
  margin: 10% 10%;
  margin-top: 2%;
  
}
.forecast-container p{
  color: rgba(250, 250, 250, 0.9);
  margin: 0% 10% 5%;
  margin-top: -20px;
}
.forecast-element {
  align-items: center;
  justify-content: center;  
  padding: 0px 2%;
  background: rgba(250, 250, 250, 0.25);
  width:20%;
  float: left;
  margin-left: 18%;
  
}

.forecast-element h3,h4{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.forecast-element img{
  margin: 0% 20%;
  
}


.city > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  font-size: 10px;
  height:30px ;
  box-sizing: border-box;
  max-width: 50%;
  color: white;
  font-size: medium;
 
}


 .city h4{
  color: #808080;
  
}

p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}



.city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: rgba(250, 250, 250, 0.85);
  text-align: center;
}
.city-temp p{
  font-size: medium;
  text-align: center;
  padding: 0px;
  margin-top: 0px;
}

.city sup {
  font-size: 0.5em;
}

.city-name {
  font-size: 2.5em;
  margin-bottom: 0px;
}

.city-name sup {
  padding: 0.2em 0.6em;
  margin-left: 0.2em;
  border-radius: 30px;
  color: rgba(140, 124, 207, 0.555);
  background: white;
}

.city-icon {
  
  width: 100px;
  height: 100px;
  
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.hourly{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 2%;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.25);
  box-shadow: 10px 10px 5px 0px rgba(30, 30, 30, 0.2);
  min-width:50%;
  margin: 10% 10%;
  margin-top: 2%;
}
@media only screen and (max-width: 720px) {
  .search{
    margin-top: 20%;
  }
}

@media only screen and (max-width: 600px) {
  

  .search {
      padding: 20px 15%;
      margin-top: 80%;
  }

  .city {
      padding: 40px ;
    
  }

  .column {
    width: 100%;
  }
}

